*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 13px !important;
  font-weight: 400;
  font-family: Inter, Helvetica, "sans-serif";
  /* -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; */
}

img,
svg {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-root {
  flex: 1;
}

.flex-row {
  flex-direction: row !important;
}

.flex-column-fluid {
  flex: 1 0 auto;
}

.btn {
  --bs-btn-color: #181c32;
  outline: none !important;
}

/* sidebar */

.aside.aside-default {
  display: flex;
  flex-direction: column;
  box-shadow: var(--bs-aside-default-box-shadow);
  background-color: #fff;
}

@media (min-width: 992px) {
  .aside.aside-default {
    width: 300px;
    transition: width 0.3s ease;
  }
}

.logo {
  padding-right: 2.5rem !important;
  padding-left: 2.5rem !important;
  padding-top: 2.25rem !important;
  padding-bottom: 1.25rem !important;
}

.flex-column-auto {
  flex: none;
}

.aside-menu {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.menu,
.menu-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-column {
  flex-direction: column;
  width: 100%;
}

.menu {
  font-weight: 500 !important;
  font-size: 1.075rem !important;
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important;
  color: #6b7280;
  border-radius: 0.25rem;
  title-color: #4b5563;
  icon-color: #9ca3af;
}

.hover-scroll-y,
.hover-scroll-overlay-y {
  position: relative;
}

.menu-item {
  display: block;
  padding: 0.15rem 0;
}

.menu-item .menu-link {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  flex: 0 0 100%;
  padding: 0.65rem 1rem;
  transition: none;
  outline: none !important;
}

.menu-item.here > .menu-link {
  transition: color 0.2s ease;
  color: #00a3ff;
}

.menu .menu-link {
  border-radius: 0.475rem;
  transition: color 0.2s ease;
  color: #00a3ff;
  fill: #00a3ff;
}

.menu-item .menu-link .menu-icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  margin-right: 0.5rem;
}

.menu-state-primary .menu-item.here > .menu-link .menu-icon,
.menu-state-primary .menu-item.here > .menu-link .menu-icon .svg-icon,
.menu-state-primary .menu-item.here > .menu-link .menu-icon i {
  color: #00a3ff;
}

.menu-item .menu-link .menu-icon .svg-icon {
  line-height: 1;
}

.svg-icon.svg-icon-2 svg {
  height: 1.5rem !important;
  width: 1.5rem !important;
}

.menu-item .menu-link .menu-title {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.menu-item .menu-link .menu-arrow {
  display: flex;
  align-items: stretch;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  margin-left: 5px;
  width: 9px;
  height: 9px;
  background: url("down-arrow-backup-2-svgrepo-com.svg");
}

.menu-item.crafted {
  padding-top: 1.25rem !important;
}

.menu-item .menu-content {
  padding: 0.65rem 1rem;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #a1a5b7 !important;
}

.text-muted.muted {
  font-weight: 600 !important;
  font-size: 0.95rem !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.menu .menu-link.none {
  border-radius: 0.475rem;
  transition: color 0.2s ease;
  color: #7e8299;
  fill: #7e8299;
}

.menu-state-primary .menu-item .menu-link:hover {
  transition: color 0.2s ease;
  color: #00a3ff;
  fill: #00a3ff;
}

.separator {
  display: block;
  height: 0;
  border-bottom: 1px solid #f4f4f4;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

@media (min-width: 992px) {
  main,
  span,
  ol,
  ul,
  pre,
  div {
    scrollbar-width: thin;
    scrollbar-color: var(--bs-scrollbar-color) transparent;
  }
}

@media (min-width: 992px) {
  main:hover,
  span:hover,
  ol:hover,
  ul:hover,
  pre:hover,
  div:hover {
    scrollbar-color: var(--bs-scrollbar-hover-color) transparent;
  }
}

@media (min-width: 992px) {
  .aside.aside-default.aside-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 98;
    overflow: hidden;
  }
}

/* @media (min-width: 992px) {
  .aside-default .wrapper {
    transition: padding-left 0.3s ease;
    padding-left: 300px;
  }
} */

@media (min-width: 992px) {
  .wrapper {
    padding-right: 40px;
    transition: padding-left 0.3s ease;
    padding-left: 300px;
    /* transition: padding-left 0.3s ease, margin-right 0.3s ease; */
    width: -webkit-fill-available;
  }
}

/* @media (min-width: 992px) {
  .aside-fixed .aside.aside-default {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 98;
    overflow: hidden;
  }
} */

@media (min-width: 992px) {
  .aside.aside-default .aside-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .aside.aside-default .aside-menu {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .aside-menu {
    padding-right: 1.75rem !important;
    padding-left: 1.75rem !important;
  }
}

@media (min-width: 992px) {
  .menu {
    margin-bottom: 0 !important;
    margin-top: 0.5rem !important;
  }
}

@media (min-width: 992px) {
  .hover-scroll-y {
    overflow-y: hidden;
  }

  @-moz-document url-prefix() {
    .hover-scroll-y {
      overflow-y: scroll;
    }
  }

  #style-7::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }

  #style-7::-webkit-scrollbar {
    width: 6px;
  }

  #style-7::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #f1f1f1;
  }

  /* .hover-scroll-y::-webkit-scrollbar {
    width: 19px;
  }

  .hover-scroll-y::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border: 7px solid transparent;
    border-radius: 19px;
  } */

  .hover-scroll-y:hover {
    overflow-y: overlay;
  }
}

@media (min-width: 992px) {
  .aside-scroll {
    padding-right: 1.25rem !important;
    margin-right: -1.25rem !important;
  }
}

/* ::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
} */

/* header */

.align-items-stretch {
  align-items: stretch !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
}

.container,
.container-fluid {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.btn.btn-icon:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush) {
  border: 0;
}

.btn:not(.btn-shadow):not(.shadow):not(.shadow-sm):not(.shadow-lg):not(.shadow-xs) {
  box-shadow: none;
}

.btn.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: calc(1.5em + 1.55rem + 2px);
  width: calc(1.5em + 1.55rem + 2px);
}

.style-1 {
  margin-left: -0.5rem !important;
  margin-right: 0.25rem !important;
}

.btn.btn-icon i,
.btn.btn-icon .svg-icon {
  padding: 0;
  margin: 0;
  line-height: 1;
}

.btn .svg-icon {
  flex-shrink: 0;
  line-height: 0;
  margin-right: 0.5rem;
}

.btn.btn-active-color-primary.active {
  color: #00a3ff;
}

.style-2 {
  padding-left: 0 !important;
  margin-right: 0.5rem !important;
  width: auto !important;
  display: none !important;
}

.rotate-180 {
  transition: transform 0.3s ease;
  backface-visibility: hidden;
  will-change: transform;
  color: #a1a5b7;
}

.rotate-180:hover {
  color: #00a3ff;
}

.style-3 {
  margin-right: 0.25rem !important;
}

.style-4 {
  width: 100% !important;
}

.style-5 {
  margin-bottom: 1.25rem !important;
  width: 100% !important;
  position: relative !important;
}

.svg-icon.svg-icon-gray {
  color: #7e8299;
}

.style-6 {
  margin-left: 1.25rem !important;
  transform: translateY(-50%) !important;
  top: 50% !important;
  position: absolute !important;
}

.form-control.form-control-solid {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
  color: #5e6278;
  transition: color 0.2s ease;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.775rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--bs-gray-700);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: 1px solid var(--bs-gray-300);
  appearance: none;
  border-radius: 0.475rem;
  box-shadow: false;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.style-8 {
  margin-left: 0.25rem !important;
}

.style-9 {
  height: 30px !important;
  width: 30px !important;
}

.svg-icon.none {
  color: #7e8299;
}

.btn.btn-active-light-primary:hover:not(.btn-active),
.svg-icon.none:hover {
  color: #00a3ff;
  border-color: #f1faff;
  background-color: #f1faff !important;
}

.symbol {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  border-radius: 0.475rem;
}

.cursor-pointer {
  cursor: pointer;
}

.symbol.symbol-35px > img {
  width: 35px;
  height: 35px;
}

.symbol > img {
  width: 100%;
  flex-shrink: 0;
  display: inline-block;
  border-radius: 0.475rem;
}

/* @media (min-width: 992px) {
  .aside-default-enabled.aside-fixed .wrapper {
    transition: padding-left 0.3s ease;
    padding-left: 300px;
  }
} */

@media (min-width: 992px) {
  .aside-default-enabled.aside-fixed .wrapper {
    transition: padding-left 0.3s ease;
    padding-left: 300px;
  }
}

@media (min-width: 992px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    z-index: 2;
    height: 90px;
    transition: left 0.3s ease;
  }
}

@media (min-width: 992px) {
  .container-fluid {
    padding: 0 30px;
  }
}

@media (min-width: 992px) {
  .flex-lg-grow-0 {
    flex-grow: 0 !important;
  }
}

@media (min-width: 992px) {
  .flex-lg-grow-1 {
    flex-grow: 1 !important;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .style-2 {
    margin-right: 1.25rem !important;
    display: inline-flex !important;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .style-4 {
    width: 300px !important;
  }
}

@media (min-width: 992px) {
  .style-5 {
    margin-bottom: 0 !important;
    display: block !important;
  }
}

@media (min-width: 992px) {
  .svg-icon.svg-icon-lg-3 svg {
    height: 1.35rem !important;
    width: 1.35rem !important;
  }
}

@media (min-width: 992px) {
  .style-8 {
    margin-left: 0.5rem !important;
  }
}

@media (min-width: 768px) {
  .style-9 {
    height: 40px !important;
    width: 40px !important;
  }
}

@media (min-width: 992px) {
  .symbol.symbol-lg-35px > img {
    width: 35px;
    height: 35px;
  }
}

/* Content */

.content {
  background-color: #f9f9f9;
}

@media (min-width: 992px) {
  .content {
    padding: 30px 0;
    border-radius: 1.5rem;
  }
}

@media (min-width: 992px) {
  .content .toolbar {
    padding-bottom: 30px;
  }
}

.flex-stack {
  justify-content: space-between;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

@media (min-width: 576px) {
  .flex-sm-nowrap {
    flex-wrap: nowrap !important;
  }
}

.justify-content-center {
  justify-content: center !important;
}

.style-10 {
  color: #181c32 !important;
  --bs-text-opacity: 1;
  font-weight: 600 !important;
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

@media (min-width: 1200px) {
  .style-10 {
    font-size: 1.5rem !important;
  }
}

.breadcrumb {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-weight: 500 !important;
  font-size: 1rem !important;
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.breadcrumb .breadcrumb-item:first-child {
  padding-left: 0;
}

.breadcrumb .breadcrumb-item {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.breadcrumb .breadcrumb-item.text-muted:after {
  padding-left: 0.5rem;
  content: "/";
}

.breadcrumb .breadcrumb-item:last-child {
  padding-right: 0;
}

.text-hover-primary {
  transition: color 0.2s ease;
}

.style-11 {
  white-space: nowrap !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.btn {
  border-radius: 0.475rem;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon) {
  border: 0;
  padding: calc(0.775rem + 1px) calc(1.5rem + 1px);
}

.style-12 {
  margin-right: 1rem !important;
  color: #5e6278;
  background-color: #fff !important;
}

.style-12:hover {
  color: #fff !important;
  background-color: #00a3ff !important;
}

.style-13 {
  color: #fff;
  background-color: #00a3ff;
}

.style-13:hover {
  background-color: #008bd9;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * 2rem);
    margin-right: calc(-0.5 * 2rem);
    margin-left: calc(-0.5 * 2rem);
}

@media (min-width: 1200px) {
  .g-xl-8, .gx-xl-8 {
      --bs-gutter-x: 2rem;
  }
}

@media (min-width: 1200px) {
  .g-xl-8, .gy-xl-8 {
    --bs-gutter-y: 2rem;
  }
}

@media (min-width: 1200px){
  .col-xl-6 {
      flex: 0 0 auto;
      width: 50%;
  }
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(2rem * 0.5);
    padding-left: calc(2rem * 0.5);
    margin-top: 2rem;
}



/* Tombol samping kiri */

.bar-1 {
  position: fixed !important;
  top: 50% !important;
  right: 0 !important;
  margin-top: 1.25rem !important;
  padding-right: 1.25rem !important;
  padding-left: 1.25rem !important;
  gap: 0.5rem !important;
  font-weight: 600 !important;
  transform: rotate(90deg);
  transform-origin: right top;
}

@media (min-width: 992px) {
  .bar-1 {
    margin-top: 5rem !important;
  }
}

.engage-btn {
  display: flex;
  align-items: center;
  height: 35px !important;
  color: #3f4254;
  border-color: #fff;
  background-color: #fff;
}

.bar-2 {
  padding-right: 1.25rem !important;
  padding-left: 1.25rem !important;
  box-shadow: 0 0.1rem 1rem 0.25rem rgba(0, 0, 0, 0.05) !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.container-xxl {
  -bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: 1.5rem * 0.5);
  padding-left: 1.5rem * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .container-xxl {
    padding: 0 30px;
  }
}

@media (min-width: 1200px){
.card.card-xl-stretch {
    height: calc(100% - 2rem);
}
}

.card {
    border: 0;
}

@media (min-width: 1200px){
.mb-xl-8 {
    margin-bottom: 2rem !important;
}
}

.mb-5 {
    margin-bottom: 1.25rem !important;
}

@media (min-width: 1200px){
.mb-xl-8 {
    margin-bottom: 2rem !important;
}
}

.card {
    border: 0;
}

.p-0 {
    padding: 0 !important;
}

.card .card-body {
    padding: 2rem 2.25rem;
    color: #fff !important;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    color: #fff !important;
}

.card-p {
    padding: 2rem 2.25rem !important;
}

/* Footer */

.style-14 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

@media (min-width: 992px) {
  .style-14 {
    flex-direction: column !important;
  }
}

.style-15 {
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .style-15 {
    flex-direction: row !important;
  }
}

.style-16 {
  color: #181c32 !important;
}

@media (min-width: 768px) {
  .style-16 {
    order: 1 !important;
  }
}

.style-17 {
  color: #3f4254 !important;
  transition: color 0.2s ease;
}

.style-17:hover {
  color: #00a3ff !important;
}

.footer .menu-item .menu-link:hover {
  transition: color 0.2s ease;
  color: #00a3ff;
}
